@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-900
    }
}

@layer components {
    .wrapper {
        @apply container mx-auto md:px-24 px-4
    }
    
    .navbar {
        @apply backdrop-blur-xl py-2 text-white fixed w-full top-0 z-50 shadow-xl
    }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}